<nav *ngIf="isAuthenticated">
    <div class="logo">
        <img src="assets/imagenes/logo.png" alt="Logo" class="logo-img"> 
    </div>
    <ul>
        <li *ngIf="isAuthenticated"><a routerLink="/profile">Profile</a></li>
        <li *ngIf="isAdmin"><a routerLink="/users">Usuarios</a></li>
        <li *ngIf="isAdmin"><a routerLink="/roles">Roles</a></li>
        <li *ngIf="isAdmin"><a routerLink="/facultades/">Facultades</a></li>
        <li *ngIf="isAdmin"><a routerLink="/carreras">Carreras</a></li>
        <li *ngIf="isAdmin"><a routerLink="/materias">Materias</a></li>
        <li *ngIf="isAdmin"><a routerLink="/modulos">Modulos</a></li>
        <li *ngIf="isAdmin"><a routerLink="/asistencias">Asistencias</a></li>
        <li *ngIf="isAdmin"><a routerLink="/licencias">Licencias</a></li>
        <li *ngIf="isAdmin"><a routerLink="" (click)="logout()">Logout</a></li>
    </ul>
</nav>
